#button-atas:hover{
    background-color: #B05151 !important;
    color: white !important;
}

#button-tag:hover{
    background-color: #B05151 !important;
    color: white;
}

.top-tag:hover{
    background-color: #B05151;
    color: white;
}

.footer-button:hover{
    background-color:#B5B5B5 !important;
}



